body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tab-body {
  list-style: none;
  display: flex;
  flex-flow:wrap;
  flex-direction: row;
  align-items:flex-start;
  margin: 1px;
  overflow-wrap: break-word;
}
.tab-item {
  border: none;
  margin-left: 1em;
  padding: 0.2em;
  cursor: pointer;
  display: flex;
  flex-flow:wrap;
}
 .title{
  cursor:default;
  font-weight: bold;
  color:#777;
}
li.active {
  border-bottom: 2px solid rgb(0, 152, 121);
  color: rgb(0, 152, 121);
  /* background-color:#dddddd; */
}

ul.pagination{
  list-style: none;
  margin-left: 0.2em;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-flow: row;

}
li.pagination{
 cursor: pointer;
 padding: .2em;
 border-radius: .2em;
 padding-left: .5em;
 padding-right: .5em;
 margin: .2em;
 border: 0.12em solid rgb(0, 152, 121,.2);
 align-items: center;
 vertical-align: center;
}
li.pagination:hover{
background-color: rgb(0, 152, 121,.5);
color: #000;
border: 0.12em solid rgb(0, 152, 121);
}

li.active-page{
  background-color: rgb(0, 152, 121);;
  color: white;
}
li.disabled-control{
  color: #777;
  cursor: not-allowed;
}
li.disabled-control:hover{
  background-color: rgba(243, 1, 1, 0.1);
  border: 0.12em solid rgba(243, 1, 1, 0.3); 
}
/*** new table style */

.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 98vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: rgb(0, 152, 121);
  color: #ffffff;
  text-align: left;
  min-width: 98vw;
}

.styled-table thead tr{
 border-radius: 20px; 
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.styled-table tbody tr:hover, tr:nth-of-type(even){
  cursor: pointer; 
  background-color: rgb(0, 152, 121,.2);
 }
